<% layout('/layouts/boilerplate') -%>

    <body>
        <!-- heading -->
        <div class="container px-2">

            <div class="col-12 text-center">
                <h3>
                    <%= listing.title %>
                </h3>
            </div>

            <!-- image -->
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto show-card mb-4">
                <img src="<%= listing.image.url  %>" class="card-img-top img-fluid show-img" alt="listing_img">

                <!-- info -->
                <div class="card-body">
                    <h5 class="card-title mt-4">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text">
                        <b>Owned by: </b> <i>
                            <%= listing.owner.username %>
                        </i><br><br>
                        <%= listing.description %><br>
                            &#8377; <%= listing.price ? listing.price.toLocaleString('en-IN') : 'N/A' %> /night<br>
                                <%= listing.location %><br>
                                    <%= listing.country %>
                    </p>
                </div>
            </div>

            <!-- listing edit btn -->
            <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
                <div class="d-flex justify-content-start mb-5 col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
                    <a class="btn btn-primary edit-btn col-2" href="/listings/<%= listing._id %>/edit">Edit</a>
                    <form method="post" action="/listings/<%= listing._id  %>?_method=DELETE">
                        <button class="btn btn-dark offset-5">Delete</button>
                    </form>
                </div>
                <hr>
                <% } %>

                    <!-- add review form -->
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mb-3 review-form">
                        <% if(currUser){ %>
                            <form method="post" action="/listings/<%=listing._id%>/reviews" novalidate
                                class="needs-validation">

                                <!-- review stars -->
                                <div class="mb-3 mt-3 ">
                                    <label class="form-label">
                                        <h3>How would you rate your experience?</h3>
                                    </label>
                                    <fieldset class="starability-grow">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                            value="1" checked aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>

                                <!-- comment box -->
                                <div class="mb-3 mt-3">
                                    <label for="comment" class="form-label">
                                        <h4>Share your experience in a few words:</h4>
                                    </label>
                                    <textarea name="review[comment]" id="comment" cols="30" rows="5"
                                        class="form-control" required></textarea>
                                    <div class="invalid-feedback">Please add some text</div>
                                </div>

                                <!-- submit review -->
                                <button class="btn btn-outline-danger">Submit</button>

                            </form>
                            <% } %>
                    </div>


                    <!-- All Reviews -->
                    <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto mb-2">
                        <h5 class="mb-2"><b>All Reviews</b></h5>
                        <div class="row g-2"> <!-- minimal gap -->
                            <% for(let review of listing.reviews) { %>
                                <div class="col-12 col-md-6">
                                    <div class="card review-card h-100 mb-2">
                                        <div class="card-body p-2">
                                            <h6 class="card-title mb-1">@<%= review.author ? review.author.username
                                                    : 'Unknown' %>
                                            </h6>

                                            <!-- stars -->
                                            <p class="starability-result mb-1" data-rating=<%=review.rating %>></p>

                                            <!-- comment -->
                                            <p class="card-text mb-1"><i>"<%= review.comment %>"</i></p>

                                            <!-- delete button -->
                                            <% if(currUser && review.author && currUser._id.equals(review.author._id)) {
                                                %>
                                                <div class="text-start">
                                                    <form method="post"
                                                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                                        <button class="btn btn-sm btn-outline-dark">Delete</button>
                                                    </form>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>


        </div>
    </body>